<!--Leftbar Start Here -->
<div class="left-aside desktop-view">
    <div class="aside-branding">
        <a href="index.html" class="iconic-logo"><img src="static/images/logo-iconic.png" alt="Matmix Logo">
        </a>
        <a href="index.html" class="large-logo"><img src="static/images/logo-large.png" alt="Matmix Logo">
        </a><span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
        <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
    </div>
    <div class="left-navigation">
        <ul class="list-accordion">
            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-label">Dashboard</span> <span class="label label-primary">New</span></a>
                <ul>
                    <li><a href="dashboard-01.html">Dashboard - 01</a>
                    </li>
                    <li><a href="dashboard-02.html">Dashboard - 02</a>
                    </li>
                    <li><a href="dashboard-03.html">Dashboard - 03</a>
                    </li>
                </ul>
            </li>
            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-align-justify"></i></span><span class="nav-label">Form Elements</span></a>
                <ul>
                    <li><a href="basic-forms.html">Basic Form Elements</a>
                    </li>
                    <li><a href="advanced-form-elements.html">Advanced Form Elements</a>
                    </li>
                    <li><a href="summernote-wysiwyg.html">Summernote WYSIWYG Editor </a>
                    </li>
                    <li><a href="date-picker.html">Date Pickers</a>
                    </li>
                    <li><a href="color-picker.html">Colors Pickers</a>
                    </li>
                    <li><a href="form-validation.html">Form Validation</a>
                    </li>
                    <li><a href="advanced-form-validation.html">Advanced Form Validation</a>
                    </li>
                    <li><a href="signup.html">Signup  <span class="label label-primary">New</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span class="nav-icon"><i class="fa fa-table"></i></span><span class="nav-label">Tables</span></a>
                <ul>
                    <li><a href="tables.html">Advanced Styled Tables</a>
                    </li>
                    <li><a href="data-tables.html">Data Tables</a>
                    </li>
                    <li><a href="basic-tables.html">Basic Tables</a>
                    </li>
                    <li><a href="stack-tables.html">Stack Tables</a>
                    </li>
                </ul>
            </li>
            <li><a href="ui-elements-components.html"><span class="nav-icon"><i class="ico-lab"></i></span><span class="nav-label">UI Elements</span></a>
            </li>
            <li><a href="#"><span class="nav-icon"><i class="ico-hammer-wrench"></i></span><span class="nav-label">Components</span></a>
                <ul>
                    <li><a href="buttons-icons.html">Buttons &amp; Icons</a>
                    </li>
                    <li><a href="blank-widgets.html">Blank Box Widgets</a>
                    </li>
                    <li><a href="bootstrap-elements.html">Bootstrap Elements</a>
                    </li>
                    <li><a href="grid-portlets.html">Grid Portlets</a>
                    </li>
                </ul>
            </li>
            <li><a href="widgets.html"><span class="nav-icon"><i class="ico-lab"></i></span><span class="nav-label">UI Widgest</span>  <span class="label label-primary">New</span></a>
            </li>
            <li><a href="typography.html"><span class="nav-icon"><i class="fa fa-font"></i></span><span class="nav-label">Typography</span></a>
            </li>
            <li><a href="calendar.html"><span class="nav-icon"><i class="fa fa-calendar"></i></span><span class="nav-label">Calendar</span></a>
            </li>
            <li><a href="#"><span class="nav-icon"><i class="ico-chart"></i></span><span class="nav-label">Charts</span></a>
                <ul>
                    <li><a href="flot-chart.html">Flot</a>
                    </li>
                    <li><a href="sparkline.html">Sparkline</a>
                    </li>
                    <li><a href="easy-pie.html">Easy Pie <span class="label label-primary">New</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span class="nav-icon"><i class="ico-lifebuoy"></i></span><span class="nav-label">Support Forum</span></a>
                <ul>
                    <li><a href="forum.html">Forums, Tickets &amp; Archive</a>
                    </li>
                    <li><a href="forum-details.html">Forum Details</a>
                    </li>
                </ul>
            </li>
            <li><a href="inbox.html"><span class="nav-icon"><i class="fa fa-envelope-o"></i></span><span class="nav-label">Mailbox</span> <span class="label label-primary">New</span></a>
            </li>
            <li><a href="note.html"><span class="nav-icon"><i class="ico-pen"></i></span><span class="nav-label">Note</span> <span class="label label-primary">New</span></a>
            </li>
            <li><a href="task.html"><span class="nav-icon"><i class="fa fa-tasks"></i></span><span class="nav-label">Task Management</span>  <span class="label label-primary">New</span></a>
            </li>
            <li><a href="#"><span class="nav-icon"><i class="fa fa-file-text-o"></i></span><span class="nav-label">Extras</span></a>
                <ul>
                    <li><a href="login.html">Login</a>
                    </li>
                    <li><a href="invoice.html">Invoice</a>
                    </li>
                    <li><a href="error-page.html">404 Error</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>