<script src="static/js/jquery-1.11.2.min.js"></script>
<script src="static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="static/js/jRespond.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/nav-accordion.js"></script>
<script src="static/js/hoverintent.js"></script>
<script src="static/js/waves.js"></script>
<script src="static/js/switchery.js"></script>
<script src="static/js/jquery.loadmask.js"></script>
<script src="static/js/icheck.js"></script>
<script src="static/js/select2.js"></script>
<script src="static/js/bootstrap-filestyle.js"></script>
<script src="static/js/bootbox.js"></script>
<script src="static/js/animation.js"></script>
<script src="static/js/colorpicker.js"></script>
<script src="static/js/bootstrap-datepicker.js"></script>
<script src="static/js/sweetalert.js"></script>
<script src="static/js/moment.js"></script>
<script src="static/js/calendar/fullcalendar.js"></script>
<!--CHARTS-->
<script src="static/js/chart/sparkline/jquery.sparkline.js"></script>
<script src="static/js/chart/easypie/jquery.easypiechart.min.js"></script>
<script src="static/js/chart/flot/excanvas.min.js"></script>
<script src="static/js/chart/flot/jquery.flot.min.js"></script>
<script src="static/js/chart/flot/curvedLines.js"></script>
<script src="static/js/chart/flot/jquery.flot.time.min.js"></script>
<script src="static/js/chart/flot/jquery.flot.stack.min.js"></script>
<script src="static/js/chart/flot/jquery.flot.axislabels.js"></script>
<script src="static/js/chart/flot/jquery.flot.resize.min.js"></script>
<script src="static/js/chart/flot/jquery.flot.tooltip.min.js"></script>
<script src="static/js/chart/flot/jquery.flot.spline.js"></script>
<script src="static/js/chart/flot/jquery.flot.pie.min.js"></script>
<script src="static/js/chart.init.js"></script>
<script src="static/js/smart-resize.js"></script>
<script src="static/js/layout.init.js"></script>
<script src="static/js/matmix.init.js"></script>
<script src="static/js/retina.min.js"></script>