<!DOCTYPE html>
<html>
<head>
	{% include "component/head.html" %}
</head>
<body>
	<div class="page-container list-menu-view">
	{% include "component/navbar.html" %}
	<div class="page-content">
    {% include "component/sidebar.html" %}

		{% include pageData['pages'] %}
	</div>
</div>
        {% include "component/footer.html" %}
	</div>	<!--/.main-->

	{% include "component/scripts.html" %}

</body>
</html>