<!DOCTYPE html>
<html>
<head>
	{% include "component/head.html" %}
</head>
<body class="login-page">
	<div class="page-container">
        <div class="login-branding">
            <a href="/home" ><img src="static/images/logo-large.png" alt="logo"></a>
        </div>
        <div class="login-container">
            <img class="login-img-card" src="static/images/avatar/jaman-01.jpg" alt="login thumb" />
            <form class="form-signin">
                <input type="text" id="inputEmail" class="form-control floatlabel " placeholder="Email Address" required autofocus>
                <input type="password" id="inputPassword" class="form-control floatlabel " placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" class="switch-mini" /> Remember Me
                    </label>
                </div>
                <button class="btn btn-primary btn-block btn-signin" type="submit">Sign In</button>
            </form>
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div>
        <div class="create-account">
            <a href="#">
                Create Account
            </a>
        </div>
        <div class="login-footer">
            Crafted with<i class="fa fa-heart"></i>by <a href="#">westilian</a>
        </div>
    </div>
	{% include "component/scripts.html" %}
</body>
</html>